<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All books</title>
</head>
<body>
<h2>Book list:</h2>

<p th:if="${books.isEmpty()}">No books added yet</p>
<ul th:if="${!books.isEmpty()}">
  <li th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()} +
         ', ' + ${book.getAuthor()} + ', ' +  ${book.getYearOfPublication()}"></a>
  </li>
</ul>
<hr>

<form th:action="@{/books/new}" method="GET">
  <input type="submit" value="Add new book">
</form>

<br>
<a th:href="@{/}">Back to main page</a>
</body>
</html>